.typewriter {
    font-family: monospace;
    overflow: hidden; /* Sørger for at innholdet ikke blir vist før animasjonen */
    border-right: .15em solid orange; /*Cursor effect*/
    white-space: pre;
    transform: rotate(30deg);
    margin: 0 auto;
    letter-spacing: .1em;
    /*animation: typing 4s steps(30, end), blik-caret .75s step-end infinite;*/
    animation: typing;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 300;
    animation-timing-function: ease-in;
 }

@keyframes typing {
    from {width: 0%;}
    to {width: 80%;}
}

@keyframes blink-caret {
    from, to {border-color: transparent;}
    50% {border-color: orange;}
}


.dot {
    height: 200px;
    width: 300px;
    cursor: pointer;
    background-color: #e23333;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transition-property: height;
    transition-duration: 5s;
}

.dot:hover {
    height: 500px;
    transform: rotate(900deg);
    transform: scaleY(3);
    transform: scaleX(.9);
    background-color: chartreuse;
}

.hero {
    display: flex;
    flex-direction: row-reverse;
}

body {
    background-color: silver;
}

.overskrift {
    color:blue;
    transition-property: color;
    transition-duration: 2s;
    animation: overskriftanimasjon;
    animation-duration: 50s;
    cursor: progress;
}

.overskrift:hover {
    color:aquamarine;
}

@keyframes overskriftanimasjon {
    0% {translate: -400px;}
    10% {translate: -700px}
    20% {transform: translateY(300px);}
    30% {transform: rotate(40deg)}
    40% {font-size: 55px;}
    50% {transform: skewX(200deg)}
    100% {translate: 10px;}

}

.print {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.print:hover {
    animation-name: shake;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    cursor: crosshair;
}

@keyframes shake {
        0% {transform: translate(1px, 1px) rotate(0deg);}
        10% {transform: translate(-1px, -2px) rotate(-1deg);}
        20% {transform: translate(-3px, 0px) rotate(1deg);}
        30% {transform: translate(3px, 2px) rotate(0deg);}
        40% {transform: translate(1px, -1px) rotate(1deg);}
        50% {transform: translate(-1px, 2px) rotate(-1deg);}
        60% {transform: translate(-3px, 1px) rotate(0deg);}
        70% {transform: translate(3px, -1px) rotate(-1deg);}
        80% {transform: translate(-1px, 1px) rotate(1deg);}
        90% {transform: translate(1px, 2px) rotate(0deg);}
        100% {transform: translate(1px, -2px) rotate(-1deg);}
}

#print3 {
    text-shadow: 1px 1px red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}


  
  /*The asterisk (*) selector in CSS, also known as the universal selector, is a powerful tool used to target and apply styles to all elements on a webpage, regardless of their type or hierarchy. This selector is particularly useful for global styling, such as resetting margins or applying uniform properties across the entire document.*/

/*  * { color:#421717; text-decoration: none;}*/